In [1]:
import os
from dotenv import load_dotenv
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
import pandas as pd

In [2]:
#load env file where all snowflake configs are provided
load_dotenv()

True

In [3]:
# Connect to Snowflake
conn = snowflake.connector.connect(
    user = os.getenv('SNOWFLAKE_USER'),
    password = os.getenv('SNOWFLAKE_PASSWORD'),
    account = os.getenv('SNOWFLAKE_ACCOUNT'),
    warehouse = os.getenv('SNOWFLAKE_WAREHOUSE'),
    database = os.getenv('SNOWFLAKE_DATABASE'),
    schema = os.getenv('SNOWFLAKE_SCHEMA')
)

In [4]:
table_name = 'EMPLOYEE'

In [5]:
cs = conn.cursor()

In [6]:
cs.execute(f"select * from {table_name}")
df = cs.fetch_pandas_all()
df

      NAME  AGE
0     Alex   22
1      Ben   33
2  Charles   44