In [ ]:
import os
from dotenv import load_dotenv
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
import pandas as pd

In [ ]:
#load env file where all snowflake configs are provided
load_dotenv()

In [ ]:
# Connect to Snowflake
conn = snowflake.connector.connect(
    user = os.getenv('SNOWFLAKE_USER'),
    password = os.getenv('SNOWFLAKE_PASSWORD'),
    account = os.getenv('SNOWFLAKE_ACCOUNT'),
    warehouse = os.getenv('SNOWFLAKE_WAREHOUSE'),
    database = os.getenv('SNOWFLAKE_DATABASE'),
    schema = os.getenv('SNOWFLAKE_SCHEMA')
)

### Write to snowflake

In [ ]:
table_name = 'EMPLOYEE'

In [ ]:
df = pd.DataFrame({"NAME":["Alex", "Ben", "Charles"], "AGE": [22, 33, 44]})

In [ ]:
# Create table
table_creation_sql = f'''
CREATE TABLE {table_name} (
    NAME STRING,
    AGE INTEGER
);
'''

In [ ]:
#open cursor
cs = conn.cursor()

# Execute the SQL command to create the table
cs.execute(table_creation_sql)

In [ ]:
# Write data to table

write_pandas(conn, df, table_name=table_name)

In [ ]:
cs.close()
conn.close()